/TTTWebservice/nbproject/private/
/TTTWebservice/TTTWebservice-ejb/nbproject/private/
/TTTWebservice/TTTWebservice-ejb/build/
/TTTWebservice/build/
/TTTWebservice/TTTWebservice-ejb/dist/
/TTTWebservice/dist/